.header h1 { 
    color: rgb(255, 255, 255);
    background-color: cornflowerblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

nav {
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
   
}

a {
    text-decoration: none;
    border: 1px solid dodgerblue;
    color: dodgerblue;
    font-weight: bold;
    padding: 10px;
    margin: 10px;

}

main > h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: cornflowerblue;
    display: inline;


}

video {
    margin: 10px 10px 10px 10px;
    
  
}

footer > h1 {
    font-size: medium;
    color: white;
    background-color: cornflowerblue;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}