body {
    font-family: Arial, Helvetica, sans-serif
}

header h1 {
    display: inline-block;
}

#autor {

    position: absolute;
    right: 0;
}

#playstation {
    text-align: left;

}

nav { 
    background-color: rgb(51, 51, 231);
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    border: 1px solid;
    margin: 10px 10px 10px 10px;

}

main h1{
    text-align: center;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}