nav {
    text-align: center;
    
}

a {
    text-decoration: none;
    border: 1px solid black;
    color: dodgerblue;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;


}